#heading{
    color: darkblue;
    font-style: oblique;
    text-align: center;
}

.header{
    color: coral;
    font-style: oblique;
    text-align: center;
}

body{
    background-color: antiquewhite;
}

.box{
    background-color:palevioletred;
    width: 150px;
    height: 150px;
    border: 2px;
    margin: 5px;
    text-align: center;
    align-items: center;
    font-size: 20px;
}

p{
    font-style: initial;
    text-align: justify;

}